# Switch PHP versions
phpv() {
    valet stop
    brew unlink php@7.4 php@8.0 php@8.1
    brew link --force --overwrite $1
    brew services start $1
    composer global update
    rm -f ~/.config/valet/valet.sock
    valet install
}

alias php74="phpv php@7.4"
alias php8="phpv php@8.0"
alias php81="phpv php"

function archive () {
   zip -r "$1".zip -i "$1" ;
}

function weather() {
   city="$1"

   if [ -z "$city" ]; then
      city="Leiden"
   fi

   eval "curl http://wttr.in/${city}"
}

function killport() {
    lsof -i ":$1" -t | xargs kill
}
