function archive () {
   zip -r "$1".zip -i "$1" ;
}

function weather() {
   city="$1"

   if [ -z "$city" ]; then
      city="Leiden"
   fi

   eval "curl http://wttr.in/${city}"
}

function killport() {
    lsof -i ":$1" -t | xargs kill
}
