; !  | means mandatory
; #  | means optional
; C  | left_command
; T  | left_control
; O  | left_option
; S  | left_shift
; F  | fn
; Q  | right_command
; W  | right_control
; E  | right_option
; R  | right_shift
; !! | mandatory command + control + optional + shift (hyper)
; ## | optional any

{
  :simlayer-threshold 150
  :templates {
   :hyper "open -g hammerspoon://hyper?action=%s\\&target=%s"
   :launch "open -a %s"
  }
  :layers {
    :default {:key :caps_lock :alone {:key :escape}}
  }
  :simlayers {
    :general {:key :semicolon}
    :insert {:key :i}
    :launch {:key :comma}
    :execute {:key :period}
    :toggle {:key :spacebar}
    :debug {:key :x}
  }
  :main [
    {
      :des "Default layer"
      :rules [:default
        [:o [:hyper "open" "default"]]
        [:h [:hyper "navigate" "back"]]
        [:j [:hyper "navigate" "down"]]
        [:k [:hyper "navigate" "up"]]
        [:l [:hyper "navigate" "forward"]]
        [:p [:hyper "paste" "default"]]
        [:y [:hyper "copy" "default"]]
        [:i [:hyper "insert" "default"]]
        [:semicolon [:hyper "open" "alfred"]]
        [:period [:hyper "execute" "default"]]
        [:m [:hyper "toggle" "sidebar"]]
        [:spacebar [:hyper "toggle" "default"]]
      ]
    }
    {
        :des "General layer"
        :rules [:general
          [:s [:hyper "general" "save"]]
          [:w [:hyper "general" "close"]]
          [:t [:hyper "general" "new"]]
          [:r [:hyper "general" "refresh"]]
        ]
      }
    {
        :des "Launch layer"
        :rules [:launch
          [:a [:launch "Slack.app"]]
          [:b [:launch "Arc.app"]]
          [:d [:launch "TablePlus.app"]]
          [:e [:launch "Visual\\ Studio\\ Code.app"]]
          [:m [:launch "Spotify.app"]]
          [:t [:launch "iTerm.app"]]
          [:w [:launch "Obsidian.app"]]
        ]
      }
    {
        :des "Command layer"
        :rules [:execute
          [:x [:hyper "execute" "debug"]]
        ]
      }
    {
        :des "Insert"
        :rules [:insert
            [:c [:hyper "insert" "c"]]
            [:g [:hyper "insert" "g"]]
        ]
    }
  ]
}
